body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-image: url(langit.jpg);
  background-size: cover;
  background-position: center;
}

#Gallery {
  background-color: #bdeaca;
}

section {
  padding-top: 8rem;
}

.ig {
  font-size: 100px;
}

.fb {
  font-size: 100px;
}

.github {
  font-size: 100px;
}
